<!DOCTYPE html>
<html>
<head>
    <title>Student Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Student List</h1>

<a href="/add">
<button>Add Student</button>
</a>

<a href="/classes">
<button>Class List</button>
</a>

<br><br>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Birth Year</th>
    <th>Major</th>
    <th>GPA</th>
    <th>Class ID</th>
    <th>Action</th>
</tr>

{% for s in students %}

<tr>
<form action="/update/{{s.student_id}}" method="post">

<td>{{s.student_id}}</td>

<td>
<input type="text" name="name" value="{{s.name}}">
</td>

<td>
<input type="number" name="birth_year" value="{{s.birth_year}}">
</td>

<td>
<input type="text" name="major" value="{{s.major}}">
</td>

<td>
<input type="number" step="0.01" name="gpa" value="{{s.gpa}}">
</td>

<td>

<select name="class_id">

<option value="">No Class</option>

{% for c in classes %}
<option value="{{c.class_id}}"
{% if s.class_id == c.class_id %}selected{% endif %}>
{{c.class_id}}
</option>
{% endfor %}

</select>

</td>

<td>
<button type="submit">Update</button>

<a href="/delete/{{s.student_id}}">
<button type="button">Delete</button>
</a>
</td>

</form>

</tr>
{% endfor %}

</table>

</body>
</html>