<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Student Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Student List</h1>

<a href="/add">
<button>Add Student</button>
</a>

<a href="/classes">
<button>Class List</button>
</a>
<form method="get" action="/">

<input type="text"
       name="search"
       placeholder="Search student by name..."
       value="{{search or ''}}">

<button type="submit">Search</button>

<a href="/">
<button type="button">Reset</button>
</a>

</form>

<br>
<br><br>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Birth Year</th>
    <th>Major</th>
    <th>GPA</th>
    <th>Class ID</th>
    <th>Action</th>
</tr>

{% for s in students %}

<tr>
<form action="/update/{{s.student_id}}" method="post">

<td>{{s.student_id}}</td>

<td>
<input type="text" name="name" value="{{s.name}}">
</td>

<td>
<input type="number" name="birth_year" value="{{s.birth_year}}">
</td>

<td>
<input type="text" name="major" value="{{s.major}}">
</td>

<td>
<input type="number" step="0.01" name="gpa" value="{{s.gpa}}">
</td>

<td>

<select name="class_id">

<option value="">No Class</option>

{% for c in classes %}
<option value="{{c.class_id}}"
{% if s.class_id == c.class_id %}selected{% endif %}>
{{c.class_id}}
</option>
{% endfor %}

</select>

</td>

<td>
<button type="submit">Update</button>

<a href="/delete/{{s.student_id}}">
<button type="button">Delete</button>
</a>
</td>

</form>

</tr>
{% endfor %}
</table>

<form action="/export" method="get">

<input type="text"
       name="filename"
       placeholder="Enter file name"
       required>

<button type="submit">Export to CSV</button>

</form>

<h2>Statistics</h2>

<p>
Total Students: <b>{{total_students}}</b>
</p>

<p>
Average GPA: <b>{{"%.2f"|format(avg_gpa)}}</b>
</p>

<h3>Students by Major</h3>

<ul>
{% for major, count in major_stats %}
<li>{{major}} : {{count}}</li>
{% endfor %}
</ul>

<hr>

</body>
</html>